# Lists and Arrays in Python

### Over the next 15 mins we will look at built in methods and functions for lists in python followed by the differences and advantages of numpy arrays

In [335]:
# Creating lists

In [336]:
import numpy as np

a =[1,2,3,4,5] #list of first 5 whole numbers
b=[11,12,13,14,15,16]

In [337]:
#List Methods - Append, copy, clear, count, extend, insert, pop, remove, replace, sort

In [338]:
a.append(6) #appending to a list
a

[1, 2, 3, 4, 5, 6]

In [339]:
#Python's functions on lists - len, list, max, min, range

In [340]:
print(max(a))

6

In [341]:
#typecasting lists and matrices as numpy arrays

In [342]:
x = np.array(a)
y = np.array(b)
matrix = [["January",31,"garnet"],["February",28,"amethyst"],["March",31,"bloodstone"],["April",30,"diamond"],["May",31,"emerald"],["June",30,"turquoise"]]
matrix[5][0]

'June'

In [343]:
arr=np.array(matrix)
arr

array([['January', '31', 'garnet'],
       ['February', '28', 'amethyst'],
       ['March', '31', 'bloodstone'],
       ['April', '30', 'diamond'],
       ['May', '31', 'emerald'],
       ['June', '30', 'turquoise']], dtype='<U21')

In [344]:
#numpy arrays make mathematical operations between arrays far easier

In [345]:
print(a+b) #appends instead of adding element by element

[1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16]

In [346]:
c=[]
for i in range(len(a)):
    c.append(a[i]+b[i])
c

[12, 14, 16, 18, 20, 22]

In [347]:
d = x+y
d

array([12, 14, 16, 18, 20, 22])

In [348]:
print(d**2)

[144 196 256 324 400 484]

In [349]:
#indexing and slincing arrays

In [350]:
print(arr[5][0]) #also arr[5,10]

June

In [351]:
months = arr[:,0]
months

array(['January', 'February', 'March', 'April', 'May', 'June'],
      dtype='<U21')

In [352]:
feb = arr[1,:]
feb

array(['February', '28', 'amethyst'], dtype='<U21')

In [353]:
stones = arr[:,[0,2]] #extract first and third column
stones

array([['January', 'garnet'],
       ['February', 'amethyst'],
       ['March', 'bloodstone'],
       ['April', 'diamond'],
       ['May', 'emerald'],
       ['June', 'turquoise']], dtype='<U21')